<ion-content [fullscreen]="true">
    <h1>Task List</h1>
    <h3>Uncompleted</h3>
    <ion-list *ngIf="uncompletedTaskList.length > 0">
      <ion-item-sliding *ngFor="let task of uncompletedTaskList">
        <ion-item>
          <ion-checkbox (ionChange)="changeTaskCompletionToTrue(task)">{{ task.taskName }}</ion-checkbox>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteTask(task.taskId)">
            Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <h3>Completed</h3>
    <ion-list *ngIf="completedTaskList.length > 0">
      <ion-item-sliding *ngFor="let task of completedTaskList">
        <ion-item>
          <ion-checkbox checked="true" (ionChange)="changeTaskCompletionToFalse(task)">{{ task.taskName }}</ion-checkbox>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteTask(task.taskId)">
            Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-button color="warning" shape="round" (click)="addTask()">
      Add Task
    </ion-button>
</ion-content>